@font-face {
    font-family: clashdisplay;
    src: url(../fonts/ClashDisplay-Variable.ttf);
  }
  .title {
    display: inline;
    position: absolute;
    margin-top: 15px;
    margin-left: 25px;
    font-weight: lighter;
    color:lightgray
    
    
  }
 /* loading Screen */
.img-spinner  {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:9999;
  display:flex;
  justify-content: center;
  align-items: center;
  transition:all 2.9s ease;
}
.img-size {
  width:13%;
}
@keyframes spinning {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg)}
  
}
.img-cof {
  width:22%;
}
.spin {
  animation-name:spinning;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@media screen and (min-width: 1000px) {

  .img-size {
    width:10%;
  }

.img-cof {
    width:9%;
  }

}

@media screen and (min-width: 786px) {
 
.img-size {
      width: 7%;
    }

 .img-cof {
      width:12%;
    }
  }


  
  /* VARIABLES */
  :root {
      --c-dark: #212529;
      --c-brand: #4e57d4;
      --c-brand-light: #6970dd;
      --c-brand-rgb: 78, 87, 212;
      --c-body: #727272;
      --font-base: 'Timeless', sans-serif;
      --box-shadow: 0px 15px 25px rgba(0,0,0,0.08);
      --transition: all 0.5s ease;
  }

  #navbarNav a{
    font-weight: 100;
  }
  
  #name {
    font-size: 80px;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ca702b, 0 0 20px #ca702b, 0 0 25px #ca702b, 0 0 30px #ca702b, 0 0 35px #ca702b;
    animation: flicker .5s infinite alternate;
    color: #fff;
    
  }
  /* Flickering animation */
  @keyframes flicker {
      
  
    
    20%, 24%, 50%{        
        text-shadow: none;
    }    
  }

  /* RESET & HELPERS */
body {

    line-height: 1.7;
    color: var(--c-body);
    background-color: #3d3d3d;
    font-family:'clashdisplay';
}

 h1, h2, h3,h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600;
    color: var(--c-dark);
    color: rgb(255, 255, 255);
  
}

.navbar-brand  {
  
    width: 60px;
    height:auto;
  
}
a {
    text-decoration: none;
    color: var(--c-brand);
    transition: var(--transition);
    
}

a:hover {
    color: var(--c-brand-light);
}

img {
    max-width: 100%;
    height: auto;
}

.section-padding {
    padding-top: 140px;
    padding-bottom: 140px;
}

.theme-shadow {
    box-shadow: var(--box-shadow);
}

/* IMAGE ZOOM */
.image-zoom {
    position: relative;
    /* overflow: hidden; */
}

.image-zoom-wrapper {
    overflow: hidden;
    position: relative;
}

.image-zoom-wrapper img{
     transition: var(--transition);
}

.image-zoom:hover .image-zoom-wrapper img {
    transform: scale(1.1);
}

* NAVBAR */
.navbar {
    box-shadow: var(--box-shadow);
}

.navbar-nav .nav-link {
    font-weight: 500;
    color: var(--c-dark);
}

.navbar-nav .nav-link.active {
    color: var(--c-brand);
}


/* BTN */
.btn {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 0;
    padding: 10px 24px;
}

.btn-brand {
    background-color: #7f2b0a;
    border-color: var(--c-brand);
    color: white;
}

.btn-brand:hover {
    background-color: #7f2b0a;
    border-color: var(--c-brand-light);
    color: white;
}

#hero h1, h5{
  color: #ca702b;
}

/* neon light */

#apple,
#instagram,
#github,
#facebook {
  font-size: 1em;
  background-color: #18191f;
  color: #fff;
  border-radius: 29px;
  padding: 11px;
 
  animation: animate 3s linear infinite;
  text-shadow: 0 0 0px #0072ff, 0 0 00px #0072ff, 0 0 10px #0072ff,
    0 0 00px #0072ff;
}
#instagram {
  animation-delay: 0.3s;
}
#facebook {
  animation-delay: 0.7s;
}
#github {
  animation-delay: 0.1s;
}
@keyframes animate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

/* FOOTER */
/* FOOTER */
footer {
    padding-top: 120px;
}

.footer-top {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.footer-bottom {
    padding-top: 40px;
    padding-bottom: 40px;
 
}


footer li,
footer p,
footer a {
    color: rgba(255,255,255,0.7);
}

footer ul {
    list-style: none;
    padding: 0;
}

footer .line {
    width: 40px;
    height: 4px;
    background-color: var(--c-brand);
    margin-top: 12px;
    margin-bottom: 24px;
}

.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255,0.1);
    border-radius: 100px;
}

.social-icons a:hover {
    background-color: var(--c-brand);
    color: white;
}


/* Timeline */
/* The actual timeline (the vertical ruler) */
.main-timeline-2 {
  position: relative;
}

/* The actual timeline (the vertical ruler) */
.main-timeline-2::after {
  content: "";
  position: absolute;
  width: 3px;
  background-color: #ad4c01;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.timeline-2 {
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.timeline-2::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -11px;
  background-color: #ad4c01;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left-2 {
  padding: 0px 40px 20px 0px;
  left: 0;
}

/* Place the container to the right */
.right-2 {
  padding: 0px 0px 20px 40px;
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left-2::before {
  content: " ";
  position: absolute;
  top: 18px;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right-2::before {
  content: " ";
  position: absolute;
  top: 18px;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right-2::after {
  left: -14px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .main-timeline-2::after {
    left: 31px;
  }

  /* Full-width containers */
  .timeline-2 {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .timeline-2::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left-2::after,
  .right-2::after {
    left: 18px;
  }

  .left-2::before {
    right: auto;
  }

  /* Make all right containers behave like the left ones */
  .right-2 {
    left: 0%;
  }
}
.card-body {
  background-color: #7f2b0a;
}
.card-body h4,p{
  color:white;
}
.txt h1 {
  color:white;
  font-family:'Timeless', sans-serif; 
}
.txt {
  background: color #727272;
}

#navbarNav{
  margin-left: 1%;
}

@media only screen and (min-width: 600px) {
  .title::after {
    color:black;
    content: "NC";
    font-family: 'Timeless', sans-serif;
    font-size: 4vh;
  font-weight: 700;
  letter-spacing: 1px;
}
#navbarNav a:hover{
  background-color: #7f2b0a;
  color: white;
}
}

@media only screen and (max-width: 600px) {
  .title::after {
    color:black;
    content: "NC";
    font-family: 'Timeless', sans-serif;
    font-size: 4vh;
  font-weight: 700;
  letter-spacing: 1px;

}
#navbarNav a:hover{
  background-color: #7f2b0a;
  color: white;
}

}

@media screen and (min-width: 786px) {
    .title::after {
      color:black;
      content: "NC";
      font-family: 'Timeless', sans-serif;
      font-size: 3.5vh;
      font-weight: 700;
      letter-spacing: 1px;
    }
    #navbarNav a:hover{
      background-color: #7f2b0a;
      color: white;
    }
    
}
@media screen and (min-width: 1000px) {
  .title::after {
    width:25%;
    color:rgb(0, 0, 0);
    content: "NORTHERN CUP CAFÉ";
    font-family: 'Timeless', sans-serif;

  }
}