
  @import url('https://fonts.cdnfonts.com/css/timeless?styles=11209');

.title {
  display: inline;
  position: absolute;
  margin-top: 10px;
  margin-left: 25px;
  font-weight: lighter;
  color:lightgray
  
}
/* loading Screen */
.img-spinner  {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:9999;
  display:flex;
  justify-content: center;
  align-items: center;
  transition:all 2.9s ease;
}
.img-size {
  width:20%;
}
@keyframes spinning {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg)}
  
}
.img-cof {
  width:28%;
}
.spin {
  animation-name:spinning;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@media screen and (min-width: 1000px) {

.img-size {
    width:5%;
  }

.img-cof {
  width:10%;
}
}

@media screen and (min-width: 786px) {
 
.img-size {
      width:5%;
    }

 .img-cof {
      width:8.6%;
    }
  }


/* VARIABLES */
:root {
    --c-dark: #212529;
    --c-brand: #7f2b0a;
    --c-brand-light: #7f2b0a;
    --c-brand-rgb: 78, 87, 212;
    --c-body: #727272;
    --font-base: "ClashDisplay", sans-serif;
    --box-shadow: 0px 15px 25px rgba(0,0,0,0.08);
    --transition: all 0.5s ease;
}

#name {
  font-size: 80px;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ca702b, 0 0 20px #7f2b0a, 0 0 25px #7f2b0a, 0 0 30px #7f2b0a, 0 0 35px #7f2b0a;
  animation: flicker .5s infinite alternate;
  color: #fff;
  
}
.row h1{
  font-size: 700%;
  -webkit-text-stroke: 1px #000000;
  color: transparent;
  background: url(../images/back.jpeg);
  background-repeat: repeat;
  -webkit-background-clip: text;
  background-position: -1100px 0;
  animation: backcolor 6s linear infinite;
}
@keyframes backcolor{
  100%{
    background-position: 0 0;
  }
}
/* Flickering animation */
@keyframes flicker {
    

  
  20%, 24%, 50%{        
      text-shadow: none;
  }    
}

body {
  background:#0b1d2a;
}

.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
}

.arrows path {
	stroke: #2994D1;
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow 
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; 
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; 
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; 
}

#nct{
  font-family: 'Timeless', sans-serif;
  font-size: 3vh;
  font-weight: 700;
  letter-spacing: 1px;
}
/* RESET & HELPERS */
body {

    line-height: 1.7;
    color: var(--c-body);
    background-color: #3d3d3d;
    font-family: 'Timeless', sans-serif;
    
}

 h1, h2, h3,h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600;
    color: var(--c-dark);
    color: rgb(255, 255, 255);
  
}

.navbar-brand  {
  
    width: 60px;
    height:auto;
  
}
a {
    text-decoration: none;
    color: var(--c-brand);
    transition: var(--transition);
    
}

a:hover {
    color: var(--c-brand-light);
}

img {
    max-width: 100%;
    height: auto;
}

.section-padding {
    padding-top: 140px;
    padding-bottom: 140px;
}

.theme-shadow {
    box-shadow: var(--box-shadow);
}

/* IMAGE ZOOM */
.image-zoom {
    position: relative;
    /* overflow: hidden; */
}

.image-zoom-wrapper {
    overflow: hidden;
    position: relative;
}

.image-zoom-wrapper img{
     transition: var(--transition);
}

.image-zoom:hover .image-zoom-wrapper img {
    transform: scale(1.1);
}


/* NAVBAR */
.navbar {
    box-shadow: var(--box-shadow);
}

.navbar-nav .nav-link {
    font-weight: 500;
    color: var(--c-dark);
}

.navbar-nav .nav-link.active {
    color: var(--c-brand);
}


/* BTN */
.btn {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 0;
    padding: 10px 24px;
}

.btn-brand {
    background-color: var(--c-brand);
    border-color: var(--c-brand);
    color: white;
}

.btn-brand:hover {
    background-color: var(--c-brand-light);
    border-color: var(--c-brand-light);
    color: white;
}


#hero h1, h5{
  color: #ca702b;
}

#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 1%;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
  }
  
/* SECTION TITLE */
.section-title {
    margin-bottom: 60px;
}

.section-title .line {
    width: 60px;
    height: 4px;
    background-color: var(--c-brand);
    margin: 16px auto 24px auto;
}

.section-title p {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}


/* ICONBOX */
.iconbox {
    width: 70px;
    height: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(var(--c-brand-rgb), 0.1);
    color:#ad4c01;
    font-size: 34px;
    flex: none;
}

#top{
  align-items: right;
}

/* SERVICE */
.service {
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.service::after {
    content: "";
    width: 40px;
    height: 40px;
    background: rgba(var(--c-brand-rgb), 0.2);
    position: absolute;
    bottom: 0;
    right: 0;
    transition: var(--transition);
}


.service:hover::after {
    width: 100%;
    height: 100%;
    background-color: #7f2b0a;
    z-index: -1;
}

.service:hover h5,
.service:hover p {
    color: white;
}

.service:hover .iconbox {
    background-color: rgba(255,255,255,0.2);
    color: white;
}

/* COUNTER */

#counter {
  background-color: #7f2b0a;
    background-position: center;
    background-size: cover;
}

/* PORTFOLIO */
.portfolio-item .iconbox {
    background-color: var(--c-brand);
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.portfolio-item:hover .iconbox {
    opacity: 1;
    top: 50%;
}


/* comment reviews */

#reviews h1{
  color: #000000;
  }
  #reviews1 h1{
    color: #ffffff;
  
  }
  #reviews1 p{
    color: #ffffff;
  
  }
  #reviews1 {
    background-color: #7f2b0a
    
  
  }
  
  .card {
  margin-bottom: 5%;
    border-radius: .7rem;
    background-color: #331801;
  }
  
  .card {
  margin-bottom: 5%;
    border-radius: .7rem;
    background-color: #331801;
  }

/* TEAMS */
#capitly{
  color: #7f2b0a;
}

#correa{
  color: #7f2b0a;
}

#cantiga{
  color: #7f2b0a;
}


/* REVIEW */
.review small {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--c-brand);
}

.review-head {
    position: relative;
}

.review-head::after {
    content: "";
    width: 28px;
    height: 28px;
    position: absolute;
    bottom: -14px;
    background-color: white;
    transform: rotate(45deg);
}

/* TEAM */
.team-member-content {
    background-color: var(--c-brand);
    position: absolute;
    bottom: -24px;
    left: 50%;
    width: calc(100% - 50px);
    transform: translateX(-50%);
    padding: 24px;
    transition: var(--transition);
    opacity: 0;
}

.team-member:hover .team-member-content {
    opacity: 1;
    bottom: 24px;
}

/* neon light */

#apple,
#instagram,
#github,
#facebook {
  font-size: 1em;
  background-color: #18191f;
  color: #fff;
  border-radius: 29px;
  padding: 11px;
 
  animation: animate 3s linear infinite;
  text-shadow: 0 0 0px #0072ff, 0 0 00px #0072ff, 0 0 10px #0072ff,
    0 0 00px #0072ff;
}
#instagram {
  animation-delay: 0.3s;
}
#facebook {
  animation-delay: 0.7s;
}
#github {
  animation-delay: 0.1s;
}
@keyframes animate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}


/*---------------------------------------
  CONTACT               
-----------------------------------------*/
.google-map {
  border-radius: var(--border-radius-medium);
}


/*---------------------------------------
  CUSTOM FORM               
-----------------------------------------*/

#section_6 h5{
  color: rgb(0, 0, 0);
  }
  #section_6{
    background-color: #ad4c01;
  }
.custom-form .form-control {
  color: var(--p-color);
  margin-bottom: 24px;
  padding-top: 13px;
  padding-bottom: 15px;
  outline: none;
}


.custom-form button[type="submit"] {
  background: var(--custom-btn-bg-color);
  border: none;
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-medium);
  transition: all 0.3s;
  margin-bottom: 0;
}

.custom-form button[type="submit"]:hover,
.custom-form button[type="submit"]:focus {
  background: var(--custom-btn-bg-hover-color);
  border-color: transparent;
}

/* CONTACT */
#contact {
    position: relative;
    z-index: 2;
}

#contact::after {
    content: "";
    width: 100%;
    height: 70%;
    
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#contact .form-control {
    border-radius: 0;
}

#contact .form-control:focus {
    box-shadow: none;
    border-color: var(--c-brand);
}
/* CONTACT */

#contact {
    position: relative;
    z-index: 2;
}

#contact::after {
    content: "";
    width: 100%;
    height: 70%;
    background: linear-gradient(rgba(var(--c-brand-rgb), 0.8), rgba(var(--c-brand-rgb), 0.8));
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#contact .form-control {
    border-radius: 0;
}

#contact .form-control:focus {
    box-shadow: none;
    border-color: var(--c-brand);
}

/* FOOTER */
footer {
    padding-top: 120px;
}

.footer-top {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.footer-bottom {
    padding-top: 40px;
    padding-bottom: 40px;
 
}


footer li,
footer p,
footer a {
    color: rgba(255,255,255,0.7);
}

footer ul {
    list-style: none;
    padding: 0;
}

footer .line {
    width: 40px;
    height: 4px;
    background-color: #ad4c01;
    margin-top: 12px;
    margin-bottom: 24px;
}

.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255,0.1);
    border-radius: 100px;
}

.social-icons a:hover {
    background-color: var(--c-brand);
    color: white;
}



@media only screen and (min-width: 600px) {
  .title::after {
    color:black;
    content: "NC";
    font-family: 'Timeless', sans-serif;
    font-size: 4vh;
  font-weight: 700;
  letter-spacing: 1px;
}
}

@media only screen and (max-width: 600px) {
  .title::after {
    color:black;
    content: "NC";
    font-family: 'Timeless', sans-serif;
    font-size: 4vh;
  font-weight: 700;
  letter-spacing: 1px;

}
}

@media screen and (min-width: 786px) {
    .title::after {
      color:black;
      content: "NC";
      font-family: 'Timeless', sans-serif;
      font-size: 3.5vh;
      font-weight: 700;
      letter-spacing: 1px;
    }
}
@media screen and (min-width: 1000px) {
  .title::after {
    width:25%;
    color:black;
    content: "Northern Cup Cafe";

  }
}